build
privateprops
lib
report
dist
.classpath
.project
*.*~
.idea
*.eml
*.iml
*.swp
manifest.mf
nbproject
*/docs/Hmi*
/docs/HmiCore
nbbuild.xml
/myDocs/
findbugs.xml
log
welcome.wav
contour.csv
*.log
